* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0b0d17;
  overflow-x: hidden;
  font-family: 'Barlow', sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 96px;
  padding-left: 55px;
}
.header__logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
}
.nav {
  position: relative;
  height: 100%;
  width: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(45px);
}
.nav::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 95%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 0.25;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 48px;
}
.nav__menu li {
  list-style: none;
}
.nav__menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
}
.nav__menu span {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 10px;
}

.mt {
  margin-top: 10rem;
}

.title-section {
  width: clamp(67rem, 84vw, 73rem);
  position: absolute;
  top: 13rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.title-section span {
  font-weight: bold;
  font-size: 28px;
  margin-right: 18px;
  line-height: 34px;
  letter-spacing: 4.725px;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.flex-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(67rem, 84vw, 73rem);
}

.grid-center {
  width: clamp(67rem, 84vw, 73rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
}

/* Card */
.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 445px;
  height: 472px;
}
.card__title {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  line-height: 115px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.card__title.md-title {
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 27px;
}
.card__info {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin-bottom: 54px;
}
.card__distance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 28px 0;
  border-top: 2px solid #383b4b;
  column-gap: 79px;
}
.card__distance__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
}
.card__distance__title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.card__distance__info {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}

.ico-menu {
  display: none;
}
@media (max-width: 1220px) {
  .header {
    top: 0;
    padding-left: 35px;
  }
  .nav {
    width: 450px;
  }
  .nav__menu {
    column-gap: 36px;
  }
  .nav__menu a {
    font-size: 14px;
  }
  .nav__menu span {
    display: none;
  }
  .title-section {
    width: auto;
    font-size: 20px;
    top: 9rem;
    left: 108px;
  }
  .title-section span {
    font-size: 20px;
  }

  .card__title.md-title {
    font-size: 40px;
  }
  .card__info {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .header {
    position: fixed;
    padding: 0 24px;
    z-index: 11;
  }
  .nav {
    display: none;
  }
  .nav.nav--active {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 254px;
    background-color: #ffffff1c;
    backdrop-filter: blur(45px);
  }
  .nav__menu {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
  }
  .nav__menu a {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
  .nav__menu a::before {
    content: '00';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2.7px;
  }
  .nav__menu li:nth-child(2) a:before {
    content: '01';
  }
  .nav__menu li:nth-child(3) a:before {
    content: '02';
  }
  .nav__menu li:nth-child(4) a:before {
    content: '03';
  }
  .ico-menu {
    position: relative;
    width: 24px;
    height: 21px;
    background-image: url('../shared/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
  }
  .ico-menu.close {
    background-image: url('../shared/icon-close.svg');
  }
  .title-section,
  .title-section span {
    font-size: 16px;
    left: initial;
    top: calc(96px + 1rem);
  }
  .title-section span {
    left: calc(-18px + -21px);
  }
  .mt.mt {
    margin-top: calc(96px + 6.7rem);
  }
  .card__info {
    font-size: 15px;
  }
  .flex-center {
    width: 100%;
  }
}
